<footer class="footer">
	<small>
		<strong>
			<a href="#">Manzar Development Training</a>
		</strong> by <em><a href="#">Manzar Rizvi</a></em>
	</small>
	<nav>
		<ul>
			<li>
				<%= link_to "About", '#' %>
			</li>
		</ul>
	</nav>
</footer>